body {
    
    font-family: Arial;
    text-align: center;
    color: black;
    background:  white;
}

.overlay {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.brand {
    display: inline-block;
    background-color: red;
    padding: 12px 40px;
    font-size: 26px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
}

.section-title {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 12px 40px;
    font-size: 26px;
    font-weight: bold;
    margin: 30px 0;
    border-radius: 4px;
}

p {
    max-width: 900px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 600;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    gap: 40px;
    text-align: center;
}

.side-image img {
    width: 250px;
    height: auto;
}

.content {
    max-width: 750px;
}

.section-red {
    background-color: red;
    display: inline-block;
    padding: 12px 40px;
    color: white;
    font-weight: bold;
    font-size: 26px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.section-black {
    background-color: black;
    display: inline-block;
    padding: 12px 40px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 4px;
    margin: 25px auto;
}

p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

.big-text {
    max-width: 850px;
    margin: 15px auto;
}

.underline {
    text-decoration: underline;
    font-size: 19px;
    margin-bottom: 20px;
}

.italic {
    font-style: italic;
    font-size: 20px;
    margin-top: 10px;
}
